@tailwind base;
@tailwind components;
@tailwind utilities;



/* .dropdown-content::after{
  content: "";
  background: #cb31fa;

  z-index: -1;
  position: absolute;
  top: -10px;
} */


@layer base{
  

  @property --rotate{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  
  @property --duration{
    syntax: "<time>";
    inherits: false;
    initial-value: 1s ;
  }
  
  
  @keyframes rotation{
    from{--rotate:60deg}
    to{--rotate:420deg}
  }
}





@layer components{
  .blow-animation{
      &::after{
          animation: rotation ease-in 3s infinite; 
          background: conic-gradient(from var(--rotate), yellow 10deg,transparent 45deg 180deg , yellow 180deg 190deg, transparent 225deg 360deg  );
      }
  }

  .loader{
        animation: rotation ease-in 3s infinite; 
        background: conic-gradient(from var(--rotate), black,transparent );
    
}

  

  
}

@layer utilities{
  

  .starting{
    
    --duration:500ms;
    transition: display var(--duration) ease allow-discrete, opacity var(--duration) ease ;
    @starting-style{
      opacity:0;
  };
      
  }


  .grid-primary{
      grid-template-areas:
      "nav content";
  }

  .grad-primary{
      @apply bg-gradient-to-br from-pink-300 via-purple-400 to-blue-400
  }
   
}


@layer components{
  /* Restaurancy styles */
  .links{
    @apply underline text-blue-500 
  }

  .link-button{
    @apply rounded-s-full rounded-e-full  shadow-md hover:shadow-neutral-500 p-1.5 bg-stone-100
  }

  .links_admin{
    @apply text-xl block p-4 md:p-8 bg-orange-400 md:h-32  rounded-3xl content-center shadow-md hover:scale-105 transition
  }


  .links-aside{
    @apply hover:bg-blue-200 w-full p-1 rounded-sm transition [transition-duration:300ms] block dark:hover:bg-orange-500
  }

  
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
